.accordion {
    border-radius: 12px;
    color: #F1EEE9;
    background-color: #15133C;
    border: 2px solid #15133C;
    display: flex;
    flex-flow: column;
    padding: 1rem;
    overflow-y: hidden;
}

.accordion .header {
    display: flex;
    flex-flow: row;
    cursor: pointer;
}

.accordion .header * {
    margin: 0;
}

.accordion .contents *:first-child {
    margin-top: 0;
}

.accordion .contents {
    margin-top: 1rem;
}

